/*flexbox
display: flex;
flex direction: row o column;
justify-content: ordena en sentido horizontal en row - en vertical en column;
align-items: ordena en sentido vertical en row - en horizontal en column;
*/


* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

i {
    font-size: 2rem;
    color: brown;
    margin: 0.2rem;
}



.encabezado {

}

.encabezadoLogo {
    width: 200px;
}

.encabezadoMenu {
    margin-right: 1rem;
}

.encabezadoMenu>li {
background-color: brown;
padding: 0.4rem;
margin: 0.2rem;
border-radius: 10px;
}

.encabezadoMenu>li>a {
    font-size: 1.2rem;
    color: cornsilk;
}
.zocalo {
    background-color: rgb(233, 230, 230);
    padding: 1rem;
}

.zocaloNavRedes {
}

.zocaloContacto {
}

.zocaloContacto>h4 {
    margin: 0.7rem;
    font-weight: 300;

}

.zocaloUp > i {
    font-size: 3rem;
}
